<form [formGroup]="loginForm">
  <h1 class="h3 mb-3">Connexion</h1>
  <div class="input-group">
    <label class="sr-only" for="name">Email address</label>
    <input [class.is-invalid]="usernameControl.invalid && usernameControl.touched"
           autocomplete="off"
           class="form-control"
           formControlName="username"
           id="name"
           placeholder="Username"
           type="text">
    <div class="invalid-feedback">
      Please choose a username.
    </div>
  </div>
  <div class="input-group">
    <label class="sr-only" for="pwd">Password</label>
    <input [class.is-invalid]="passwordControl.invalid && passwordControl.touched" autocomplete="off" class="form-control"
           formControlName="password"
           id="pwd"
           placeholder="Password"
           type="password">
    <button (click)="login()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </div>
</form>
