<ng-container *ngIf="isReadonly">{{value}}</ng-container>
<ng-container *ngIf="!isReadonly">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Edit value" [(ngModel)]="value">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="isReadonly = !isReadonly">
        <i class="fa fa-times"></i>
      </button>
      <button class="btn btn-success" type="button" (click)="submitValue(value)">
        <i class="fa fa-check"></i>
      </button>
    </div>
  </div>
</ng-container>
