<input type="text" [(ngModel)]="searchValue">
<table class="table table-bordered">
  <thead>
  <tr>
    <th>NOM</th>
    <th>PRENOM</th>
    <th>DATE DE NAISSANCE</th>
    <th>ACTION</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of personnes | search:searchValue">
    <td><app-editable [value]="user.nom" (valueChange)="submitValue($event, user, 'nom')"></app-editable></td>
    <td><app-editable [value]="user.prenom" (valueChange)="submitValue($event, user, 'prenom')"></app-editable></td>
    <td><app-editable [value]="user.ddn" (valueChange)="submitValue($event, user, 'ddn')"></app-editable></td>
    <td>
      <button class="btn btn-danger" (click)="delete(user)"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
  </tbody>
</table>
