{{form.value | json}}
<form [formGroup]="form">
  <h1 class="h3 mb-3">Ajout d'un étudiant</h1>
  <app-nom-et-prenom formControlName="nomPrenom"></app-nom-et-prenom>
  <div class="input-group">
    <label class="sr-only" for="dateNaissance">Date de naissance</label>
    <input [class.is-invalid]="dateNaissanceControl.invalid && dateNaissanceControl.touched" autocomplete="off" class="form-control"
           formControlName="dateNaissance"
           id="dateNaissance"
           placeholder="Date de naissance"
           type="date">
    <div class="invalid-feedback">
      Merci de choisir une Date de naissance
    </div>
  </div>
  <button (click)="submit()" class="btn btn-lg btn-primary btn-block" type="submit">Ajouter</button>
</form>
